#ejercicio tienda

In [1]:
supermarket={}

In [2]:
type(supermarket)

dict

In [3]:
import pandas as pd

In [8]:
supermarket={"combos":["combo 1","combo 2","combo 3","combo 4","papas"],"bebidas":["jugos naturales","cerveza","agua","gaseosa",""]}
supermarket

{'combos': ['combo 1', 'combo 2', 'combo 3', 'combo 4', 'papas'],
 'bebidas': ['jugos naturales', 'cerveza', 'agua', 'gaseosa', '']}

In [9]:
pd.DataFrame.from_dict(supermarket)

    combos          bebidas
0  combo 1  jugos naturales
1  combo 2          cerveza
2  combo 3             agua
3  combo 4          gaseosa
4    papas

In [12]:
comidas={"combos":["combo 1","combo 2","combo 3","combo 4","papas"],"precio":[20000,25000,18000,24500,3000]}
bebida={"bebidas":["jugos naturales","cerveza","agua","gaseosa"],"precio":[7000,3500,4000,2500]}

In [16]:
pd.DataFrame.from_dict(comidas)

    combos  precio
0  combo 1   20000
1  combo 2   25000
2  combo 3   18000
3  combo 4   24500
4    papas    3000

In [15]:
pd.DataFrame.from_dict(bebida)

           bebidas  precio
0  jugos naturales    7000
1          cerveza    3500
2             agua    4000
3          gaseosa    2500

In [38]:
combos=["combo1","combo2","combo3","combo4","papas"]
bebidas=["jugosnaturales","cerveza","agua","gaseosa"]
combo1=20000
combo2=25000
combo3=18000
combo4=24500
papas=3000
jugosnaturales=7000
cerveza=3500
agua=4000
gaseosa=2500
print("combo1","combo2","combo3","combo4","papas","jugosnaturales","cerveza","agua","gaseosa",sep="\n")
articulo=input("seleccione un artículo: ")
cantidad=input("cantidad: ")
compra_nueva = input("deseas otro artículo ? (s/n): ")
while compra_nueva=="s":
  articulo=input("seleccione un artículo: ")
  cantidad=input("cantidad: ")
  compra_nueva = input("deseas otro artículo ? (s/n): ")
  

articulo=[]
subtotal=bool(articulo*cantidad)
subtotal=subtotal+1
factura={"producto":articulo,"cantidad":cantidad,"precio":subtotal}
pd.DataFrame.from_dict(factura)

combo1
combo2
combo3
combo4
papas
jugosnaturales
cerveza
agua
gaseosa
seleccione un artículo: papas
cantidad: 2
deseas otro artículo ? (s/n): n

TypeError: ignored