# diccionario y listas

##notación de variables

solo pueden contener caracteres alfanuméricos (A-Z, a-z, 0-9,_)

se distingue entre mayúsculas y minusculas edad vs edad vs edad

## la funcion print()

toma argumentos y los convierte en un formalo legible

puede tomar más de un argumento

envía los datos resultantes al dispotivo de salida.

## la funcion print() - nueva linea /n 

\n significa carácter de escape: serie de caracteres en la cadena se escapa (detiene) por un momento (muy corto) para introducir una inclusión especial.

In [ ]:
print("la witsi witsi araña\nsubió a su telaraña.\n")

print("vino la lluvia \ny se la llevó")

la witsi witsi araña
subió a su telaraña.

vino la lluvia
y se la llevó

print("\")
print(\)
print("\\")

In [ ]:
print("me gusta \"morty python\"")

me gusta "morty python"

In [ ]:
print('me gusta "morty python"')

me gusta "morty python"

##argumentos de palabra clave - end

un argumento de palabra clave consta de tres elementos: una

In [ ]:
print("Mi nombre es","Python. ")
print("Monty Python.")

Mi nombre es Python.
Monty Python.

In [ ]:
print("Mi nombre es", "Python.", end="")
print("Monty Phyton.")

Mi nombre es Python.Monty Phyton.

##SEP 

un argumento de palabra clave consta de tres elementos: una palabla clave que udentifica el argumento (sep); un signo igual (=) y un valor asignado o este argumento.

cualquier argumento de palabra clave debe ponerde despues del ultimo argumento posicional.

In [ ]:
print("Mi nombre es", "Python.", sep="")
print("Monty Phyton.")

Mi nombre esPython.
Monty Phyton.

In [ ]:
print("Mi nombre", "es", "Monty", "Python.", end="-")
print("Monty Phyton.")

Mi nombre es Monty Python.-Monty Phyton.

In [ ]:
print("mi", "nombre", "es", sep="_", end="*")
print("Monty", "Python.", sep="*", end="*\n")

mi_nombre_es*Monty*Python.*

In [ ]:
print("Fundamentos","Programación","en", sep="***", end="...")

Fundamentos***Programación***en...

In [ ]:
print("    *\n   * *\n  *   *\n *     *\n***   ***\n  *   *\n  *   *\n  *****")

    *
   * *
  *   *
 *     *
***   ***
  *   *
  *   *
  *****

##números octales y hexadecimales

Existen dos convenciones adicionales en Python que no son conocidas en el mundo 
de las matemáticas. El primero nos permite utilizar el número en su representación octal.

Si un número entero esta precedido por un código 0O o 0O(cero-O, el número será tratado como un valor octal. Esto significa que el el número debe contener dígitos en el rango del [0..7] únicamente.

print(0O123)


la segunda concención nos permite utilizar números en hexadecimal. Dichos números deben ser precedidos por el prefijo 0x o 0x(cero-x).

print(0x123

In [ ]:
print(0x123)

291

##DICCIONARIO

YA NO SON CONCEPTOS SINO VALORES

diferencia entre listas y diccionarios 
en los diccionarios se almacenan por palabras no por orden alfanumérico o indeccación numérica.

Útiles para bases de datos

ortden en que se muestran al imprimir
clave-->valor

In [ ]:
larousse={}

In [ ]:
type(larousse)

dict

In [ ]:
larousse={"frutas":["manzana","sandía","guaraná","kiwi","granada"],"color":"violeta","verdad":True}

In [ ]:
#sobreescribiendo valores

In [ ]:
larousse["color"]="amarillo"
larousse

{'frutas': ['manzana', 'sandía', 'guaraná', 'kiwi', 'granada'],
 'color': 'amarillo',
 'verdad': True}

In [ ]:
larousse["color"]=["amarillo","azul","rojo"]
larousse

{'frutas': ['manzana', 'sandía', 'guaraná', 'kiwi', 'granada'],
 'color': ['amarillo', 'azul', 'rojo'],
 'verdad': True}

In [ ]:
larousse["nombre"]="Clark Kent"
larousse

{'frutas': ['manzana', 'sandía', 'guaraná', 'kiwi', 'granada'],
 'color': ['amarillo', 'azul', 'rojo'],
 'verdad': True,
 'nombre': 'Clark Kent'}

In [ ]:
#recuperando elementos

In [ ]:
larousse["color"]

['amarillo', 'azul', 'rojo']

In [ ]:
#recupetando elementos de un diccionario

larousse['color'][0]

'amarillo'

In [ ]:
#borrando elementos del diccionario
del(larousse["verdad"])
larousse

{'frutas': ['manzana', 'sandía', 'guaraná', 'kiwi', 'granada'],
 'color': ['amarillo', 'azul', 'rojo'],
 'nombre': 'Clark Kent'}

In [ ]:
larousse

{'frutas': ['manzana', 'sandía', 'guaraná', 'kiwi', 'granada'],
 'color': ['amarillo', 'azul', 'rojo'],
 'nombre': 'Clark Kent'}

In [ ]:
larousse["frutas"]=1
larousse

{'frutas': 1, 'color': ['amarillo', 'azul', 'rojo'], 'nombre': 'Clark Kent'}

In [ ]:
type(larousse["frutas"])

int

In [ ]:
larousse["verdad"]=True

In [ ]:
larousse

{'frutas': 1,
 'color': ['amarillo', 'azul', 'rojo'],
 'nombre': 'Clark Kent',
 'verdad': True}

In [ ]:
import pandas as pd

In [ ]:
ejemplo={"col1":[1,.2,3],"nombre":["Ana","Berta","Daniel"]}
pd.DataFrame.from_dict(ejemplo)

   col1  nombre
0   1.0     Ana
1   0.2   Berta
2   3.0  Daniel